<!DOCTYPE html>
<html>
  <head>
    <title>Click Image to Display Message</title>
    <style>
        #pop{
            width: 300px;
            height: 200px;
            display:none;
            background-color: green;
            color:red;
            position: absolute;
            top:10%;
            left: 10%;
        }
    </style>
  </head>
  <body>
    <img src="static/a.jpg" id="myImage"height="700px" onclick="displayMessage(event)">
    <p id="message">100</p>
    <div id="pop">
        <p id="m">you win</p>
        <h3 id="s">100</h3>
        
    </div>
  </body>
  <script>
    function displayMessage(event) {
  var message = document.getElementById("message");
  var block=document.getElementById('pop');
  console.log(block)
  var sc=document.getElementById('m').innerHTML;
  var s=document.getElementById('s').innerHTML;
  var x = event.clientX;
  var y = event.clientY;
 console.log(x,y);
  if (x <=150&&x>=100 && y <= 220&&y>=100) {
    var score=message.innerHTML;
    score=parseInt(score);
    message.innerHTML=score+100;
    document.getElementById('m').innerHTML="you won";
    s=parseInt(s);

    s=s+100;
    document.getElementById('s').innerHTML=s;
    block.style.bgcolor="green";
    block.style.display="block";
    
    
  } 
  else{
    var score=message.innerHTML;
    score=parseInt(score);
    message.innerHTML=score-50;
    document.getElementById('m').innerHTML="you lost";
    s=parseInt(s);
    document.getElementById('s').innerHTML=s-50;
    block.style.bgcolor="red";
    block.style.display="block";
    
  }
}

  </script>
</html>